#cart-button {
    background: transparent;
    border: 1px solid yellow;
    border-radius: 1rem;
    position: relative;
    display: block;
    width: fit-content;
    margin: 2rem auto;
    padding-inline: 2rem;
}

#cart-button:hover {
    background: #c3c3c3;
}

#cart-button::before {
    position: absolute;
    content: attr(data-items-number);
    top: 0;
    right: 0;
    margin-inline-end: .5rem;
    height: auto;
    width: fit-content;
    color: red;
    font-size: 1.6rem;
    font-weight: 700;
}

.cart-items {
    list-style-type: none;
}

.cart-items li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cart .content {
    flex: 1;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.cart .cart__close__button {
    align-self: flex-end;
    padding: .2rem 1rem;
}

.cart .cart__total__price {
    margin-block-end: .5rem;
    align-self: flex-end;
}

dialog {
    margin: auto;
    height: 50%;
    width: 50%;
    padding: 1rem 2rem;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 80%);
}

dialog[open] {
    animation: fadein 450ms ease-in forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        background-color: green;
    }
}
